$color-primary-dark: #0a2640;
$color-primary-light: #f1f1f1;
$color-secondary: #4fe9a4;
$color-white: #fff;
$color-black: #000;
$color-grey: #777777;

$border-radius-primary: 4rem;

$padding-big-horizontal: 25rem;
$padding-medium-horizontal: 14.9rem;
$padding-small-horizontal: 1rem;
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 2rem;
$vertical-margin-big: 9.4rem;
$vertical-margin-small: 3.5rem;

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Roboto", sans-serif;
$font-weight-big: 700;
$font-weight-small: 300;
$font-weight-normal:400;
$font-normal: 14px;
$font-small: 12px;

